body {
  font-family: Courier New, monospace;
  background-color: #c3c3c3;
}

p {
  color: black
}

.image-with-text {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.responsive-img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto; 
}

.image-caption {
  width: 100%;
  font-size: 1rem; /* Adjust as needed */
  color: black;    /* or whatever you want */
  margin-top: 0.5rem;
}
