body {
  font-family: Courier New, monospace;
  background-color: #c3c3c3;
  text-align: center;
}

p {
  color: black
}

.responsive-img {
    max-width: 90%;     /* Shrinks image to fit smaller screens */
    height: auto;       /* Maintains aspect ratio */
    display: block;
    margin: 0 auto;     /* Center the image */
}
