body {
  font-family: Courier New, monospace;
  text-align: center;
  background-color: #008080;
  color: white;
}

<style>
  .image-links-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px); /* Fixed size of 45px for each image */
    gap: 30px; /* Adjust gap between images as desired */
    text-align: center;
}

.image-links-container a {
    text-decoration: none;
    background-color: #c3c3c3;
}

.image-links-container img {
    width: 100%; /* Ensures images fill the grid cell without stretching */
    height: auto;
}

.image-links-container p {
    margin-top: 10px;
}
</style>
